<template>
    <div>
        <button @click="getM()">Get Map</button>
        <button @click="saveM()">Save Map</button><br>
        <button @click="getgen">Get Generated Map</button>
        x: <input v-model.number="dim.x" min="1" max="99" maxlength="2" type="number">
        y: <input v-model.number="dim.y" min="1" max="99" maxlength="2" type="number">
        <br>
        <!-- Map: {{ map }}<br> -->
        <div id="container">
        <div id="map" @click="applyPal($event)"
            @drop="onDrop($event)"
            @dragover.prevent
        >
        <template v-for="(row, r) in map">
            <div class="row" :key="r">
                <template v-for="(cell, c) in row">
                    <div :key="c" :class="genC(cell)" :data-x="c" 
                        :data-y="r"
                    >{{ cell }}</div>
                </template >
            </div>
        </template>
        </div>
        </div>
        <div id="palette">
            <div class="testcell" id="tc" draggable="true" @dragstart="onDrag($event)"></div>
            Palette:<br>
            <template v-for="(t, i) in terrList">
                <div :key="i" :class="genC(i)" @click="selectPal($event)" :data-terr="i">{{ i }} {{ t }}</div>
            </template>
        </div>
    </div>
</template>

<style scoped>
    .testcell {
        width: 50px;
        height:50px;
        background-color: aquamarine;
    }
    .row { 
        float: left;
        /* width 3200 */
    }
    .cell { 
        color: white;
        float: left;
    }
    #container { 
        overflow: scroll;
        float: left;
        /* max-width: 800px;
        max-height: 600px; */        
    }
    #map {
        float: left;
        border: 4px double crimson;
        margin: 3px;
        /* max-width: 800px;
        max-height: 600px; */
        user-select: none;
    }
    #palette {
        float: left;
        border: 4px double crimson;
        margin: 3px;
        padding: 1px;
        background: lightgray;
    }
</style>

<script>
import Vue from 'vue';
import { getGenMap } from '../data/getData';
import { getMapData } from '../data/getData';
import { saveMapData } from '../actions/saveData';

//import { terrains } from '../commonSrc/terrains';

export default {
    props: [ 'dim', 'map', 'units', 'terrList' ],
    methods: {
        onDrag: function(ev) { 
            let id = ev.target.id;
            ev.dataTransfer.setData('text/plain', id);

            console.log('dragstart', id);
        },
        onDrop: function(ev) {
            let _e = ev.target.dataset;
            let _x = _e.x;
            let _y = _e.y;
            let _ee = ev.dataTransfer;
            let d = ev.dataTransfer.getData('text');
            console.log(ev, 'drop', _ee, d);
        },
        applyPal: function(ev) {
            let _e = ev.target;
            
            let isCell = _e.classList.contains('cell');
            if(!isCell) return;

            let _x = parseInt(ev.target.dataset.x);
            let _y = parseInt(ev.target.dataset.y);
            console.log('->',_e, `(${ _x }:${ _y })`, );
            Vue.set(this.map[_y], _x, this.cur);
        },
        selectPal: function(ev) { 
            let _e = ev.target.dataset.terr;
            console.log('set brush->', _e);
            this.cur = parseInt(_e);
        },
        genC: function(c) {
            return `cell ${ this.terrList[c] }`;
        },
        getM: function() {
            getMapData();
        },
        saveM: function() {
            console.log('->');
            let _d = this.dim;
            saveMapData(_d.x, _d.y, this.map);
        },
        getgen: function() {
            getGenMap();
        }
    },
    data: function () {
        return {
            //terrains: terrains,
            cur: 0
        }
    }
}
</script>