<template>
    <div class="statcon">
                <template v-if="data">
                    {{ type }}: <br> <!-- {{ unit.data.mp }} -->
                    cur: <input type="number" v-model.number="data.c" min="1" :max="data.m" maxlength="3">
                    <button :data-stat="type" @click="setmax($event)">^</button>
                    max: <input type="number" v-model.number="data.m" min="1" max="99" maxlength="3">
                </template>
                <template v-else>
                    {{ type }} <button :data-stat="type" @click="addstat($event)">+</button>
                </template>
    </div>
</template>

<style scoped>
    .statcon {
        border: 1px solid crimson; padding: 1px; margin: 1px;
    }
    button {
        width: 16px;
        height: 16px;
        border: 1px solid black;
        padding: 0;
        margin: 1px;
    }
    button:hover { background-color: goldenrod; }
</style>

<script>
export default {
    props: [ 'type', 'data', 'addstat', 'setmax' ],
    data: function () {
        return {
            
        }
    }
}
</script>


