<template>
    <div id="manager">
        <div class="header">
            <button @click="addU()">+</button>
            <input :value="newid()" placeholder="uniq id">
            <div style="float: right;">
                <button @click="saveU()">Save</button>
                <button @click="szt()">Set 0 Turn</button>
            </div>
        </div>
        <datalist id="classes">
            <template v-for="(c, i) in classes">
                <option :value="i" :key="i"/>
            </template>
        </datalist>
        <!-- <template v-for="(unit, i) in udata">
            <unit-card :key="i" 
                :i="i" 
                :unit="unit"
                :classes="classes"
                :deleteU="deleteU"
            />
        </template> -->
        <div id="ff">
            {{ splittedData() }}
        </div>
        <template v-for="(row, k, i) in splittedData()">
            <div style="float: left; clear: both" :key="i">
                <template v-for="(e, _k, _i) in row">
                    <!-- {{ row }} -->
                    <unit-card :key="_i" 
                        :i="_k" 
                        :unit="e"
                        :classes="classes"
                        :deleteU="deleteU"
                    />
                </template>
            </div>
        </template>
    </div>
</template>

<style scoped>
    #ff {
        background-color: rgb(160, 94, 94);
        color: white;
        float: left;
        clear: both;
    }
    #manager {
        /* max-width: 400px; */
        font-family: monospace;
    }
    .header { 
        margin: 2px;
        padding: 2px;
        border: 1px solid crimson;
        max-width: 400px;
     }
    .unit {
        border: 1px solid crimson;
        background: lightgray;
        margin: 2px;
        padding: 2px;
        max-width: 400px;
        float: left;
    }
    hr { border: 1px solid crimson }
</style>

<script>
import Vue from 'vue';
import { unit } from '../../pack/data/unitTmpl';
import { createReq } from '../../src/createReq';
import { SERVER_NAME } from '../../src/config';
import { saveUnitsData } from '../actions/saveData';
import { setZeroTurn } from '../actions/saveData';
import { splitObject } from '../service/splitObject';

import UnitCard from './UnitCard';

export default {
    props: [ 'udata', 'classes' ],
    data: function () {
        return {
        }
    },
    methods: {
        splittedData: function() { 
            return splitObject(this.udata);
        },
        newid: function() { 
            let z = Object.keys(this.udata).length;
            return `id${z + 1}`;
        } ,
        deleteU: function(ev) {
            let id = ev.target.dataset.id;
            console.log(id);
            Vue.delete(this.udata, id);
        },
        addU: function() {
            let z = Object.keys(this.udata).length;
            let i = `id${z + 1}`;
            
            console.log('add->', this.newid());
            Vue.set(this.udata, i, unit);
        },
        saveU: function() {
            saveUnitsData(this.udata);
        },
        szt: function() {
            setZeroTurn();
        }
    },
    components: {
        'unit-card': UnitCard,
    }
}
</script>