<template>
    <div class="unit">
                <button :data-id="i" @click="deleteU($event)">X</button>
                <b>{{ i }}</b><br>
                <!-- {{ res(unit.data.class) }} -->
                <img style="width: 64px" :src="res(unit.data.class)" />
                Name: <input type="text" v-model="unit.data.name">
                <hr>
                class: <input type="text" v-model="unit.data.class" list="classes">
                <br>
                x: {{ unit.x }} <input type="number" v-model.number="unit.x" min="0" max="99" maxlength="3">
                | 
                y: {{ unit.y }} <input type="number" v-model.number="unit.y" min="0" max="99" maxlength="3">
                <sbe 
                    type="hp"
                    :data="unit.data.hp"
                    :addstat="addstat"
                    :setmax="setmax"
                />
                <sbe 
                    type="mp"
                    :data="unit.data.mp"
                    :addstat="addstat"
                    :setmax="setmax"
                />
    </div>
</template>

<style scoped>
    .statcon {
        border: 1px solid crimson; padding: 1px; margin: 1px;
    }
    img {
        border: 4px double crimson;
    }
    button {
        width: 16px;
        height: 16px;
        border: 1px solid black;
        padding: 0;
        margin: 1px;
    }
    button:hover { background-color: goldenrod; }
</style>

<script>
import Vue from 'vue';
import { app } from '../index';
import StatBarEditor from './StatBarEditor';

export default {
    props: [ 'i', 'unit', 'classes', 'deleteU' ],
    methods: {
        res: function(z) {
            let r = this.classes[z];
            return (r) ? `..\\img\\${ r.res }.png` : '' ;
        },
        setmax: function(ev) {
            let _id = this.i
            let _t = ev.target.dataset.stat;
            let _c = this.unit.data[_t].c;
            let _m = this.unit.data[_t].m;
            console.log(`${ _id }, ${ _t } : ${ _c } -> ${ _m }`);
            Vue.set(app.units[_id].data[_t], 'c', _m);
        },
        addstat: function(ev) {
            let _id = this.i;
            let _t = ev.target.dataset.stat;
            console.log(`${ _id }, add ${ _t }`);
            Vue.set(app.units[_id].data, _t, { c: 0, m: 0 });
        }
    },
    data: function () {
        return {
            
        }
    },
    components: {
        'sbe': StatBarEditor,
    }
}
</script>


