<template>
    <div class="board">
        <div style="float: left; clear: both; overflow: visible; max-width: 200px; background-color: brown; color: white;">
            {{ players }}
        </div>
        <template v-for="(row, r) in map">
            <div class="row" :key="r">
                <template v-for="(cell, c) in row">
                    <div :id="cId(c, r)" :class="isActive(c, r)" :key="c">
                        <transition name="fade">
                            <div v-if="isAF(c, r)" class="marker">
                                <!-- {{ cell }} -->
                            </div>
                            <div v-else> <!--{{ cell }}--> </div>
                        </transition>
                    </div>
                </template>
            </div>
        </template>
    </div>
</template>

<style scoped>
.row {
    float: left;
    clear: both;
}
.cell {
    background: lightgrey;
    margin: 1px;
    float: left;
    width: 20px;
    height: 20px;
    border: 1px solid lightgrey;
    cursor: pointer;
    box-sizing: border-box;
}
.cell.active {
    background: whitesmoke;
    border: 1px solid black;
}
</style>

<script>
import { dimX, dimY } from '../config';

export default {
    props: [ 'map', 'x', 'y', 'players' ],
    data: function () {
        return {
            
        }
    },
    methods: {
        cId: function (x, y) {
            return `${ x }__${ y }`;
        },
        isActive: function (x, y) {
            let z = x + dimX * y;
            
            //let a = (x === this.x && y === this.y) ? 'active' : '';
            let a = (this.players[z]) ? 'active' : '';
            
            return `cell ${ a }`;
        },
        isAF(x, y) {
            //return (x === this.x && y === this.y);
            let z = x + dimX * y;
            return (this.players[z]);
        },
    },
}
</script>


