<template>
    <div :id="cId(x, y)" :class="isActive(x, y)"> <!--  :key="c" -->
        <transition name="fade">
        <div v-if="isAF(x, y)" class="marker">
            {{ cell }}
        </div>
        <div v-else> {{ cell }} </div>
        </transition>    
    </div>
</template>

<style scoped>

</style>

<script>
export default {
    props: [ 'x', 'y', 'cell' ], //, 'key'
    data: function () {
        return {
            
        }
    },
    
}
</script>


