<template>
    <div id="a">
        Board<br>
        Lock : {{ lock }}|
        <button @click="ping()">ping</button>
        State : {{ gameState }}
        <button @click="reset()">reset state</button><br>
        <button @click="fromdb()">read base</button>
    </div>
</template>

<style scoped>
    #a {
        float: left;
        clear: both
    }
</style>

<script>
import { pingState } from '../pingState';
import { stateReset } from '../stateReset';
import { stateFromDb } from '../stateFromDb';

export default {
    props: [ 'lock', 'gameState' ],
    data: function () {
        return {
            
        }
    },
    methods: {
        ping() { pingState(); },
        reset() { stateReset(); },
        fromdb() { stateFromDb(); }
    }
}
</script>


