<template>
    <div id="b">
        Player:
        <select @change="selPl($event)">
            <option disabled></option>
            <template v-for="(p, i) in players">
                <option :value="i" :selected="i === current">{{ i }}</option>
            </template>
        </select>
    </div>
</template>

<style scoped>
        #b {
        float: left;
        clear: both
    }
</style>

<script>
import { app } from '../index';

export default {
    props: [ 'current', 'players' ],
    data: function () {
        return {
            test : { id1: {}, id2: {} }
        }
    },
    methods: {
        selPl: function(e) {
            let _v = e.target.value;
            console.log('->', _v);
            app.player = _v;
        }
    }
}
</script>


