<template>
    <div id="f1">
        test<br>
        <p>{{ greet }}</p>
        <div><hr></div>
    </div>
</template>

<style scoped>
    #f1 { color: red; }
</style>

<script>
export default {
    //name: 'test',
    data: function () {
        return {
            greet: 'Hello',
        }
    }
}
</script>