<template>
    <div style="float: left; font-family: monospace">
        <template v-for="(r) in map">
            <div>{{ r }}</div>
        </template>
    </div>
</template>

<script>
    export default {
        props: [ 'map' ],
        name: "text-map"
    }
</script>

<style scoped>

</style>